body{
	background-color: #232323;
}

.square{
	width: 30%;
	background-color: blue;
	padding-bottom: 30%;
	margin: 1.66%;
	float: left;
}

#container{
	margin: 2% auto;
	max-width: 600px;
}

h1, h2{
	color: white;
	text-align: center;
}