body{
	background-color: #232323;
}

.square{
	width: 30%;
	background-color: blue;
	padding-bottom: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 10%;
}

#container{
	margin: 2% auto;
	max-width: 600px;
}

h1, h2{
	color: white;
	text-align: center;
}
#goal{
	font-size: 40px;
	margin-bottom: 2%;
}

#gameStatus, #goal, #topLine {
	color: white;
	text-align: center;
 }