body{
	background-color: #232323;
	margin: 0;
}

.square{
	width: 30%;
	background-color: blue;
	padding-bottom: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 10%;
	transition: background 0.4s;
}

#container{
	margin: 2% auto;
	max-width: 600px;
}

h1, h2{
	color: white;
	text-align: center;
	text-transform: uppercase;
}


#goal{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 2%;

 }

 #topLine{
	height: 30px;
 	background: white;
 	text-align: center;

 }

 .selected{
 	background: #232323;
 	color: white;
 
 }

 button{
 	border: none;
 	font-weight: 800;
 	background: none;
 	font-size: large;
 	text-transform: uppercase;
 	height: 100%;
 	color:#232323;
 }

 #gameStatus{
 	display: inline-block;
 	width: 20%;
 	font-weight: 800;
 	font-size: large;
 	font-family: "arial";
 }
 button:hover{
 	color: white;
 	background: #232323;
 }
